* {
}

body {
    margin: 10px;
    padding: 10px;
}


/*LoginFE*/
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #c86e6e;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.img-fluid {
    height: 400px;
    justify-content: space-between;
}


/*RegisterAccountFE*/
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.bg-indigo {
    background-color: #5f8ead;
}

.modal-footer {
    border-top: 0px;
}


/*Esconder Divs*/
.hidden {
    display: none;
}

.not_hidden {
    display: block;
}
