<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="projetofinalConnectionString" connectionString="Data Source=HARSAPHES\SQLEXPRESS;Initial Catalog=projetofinal;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
		<add key="PathPDFs" value="C:\Users\pcris\source\repos\socios\socios\PDFS\" />
		<add key="SiteURL" value="https://localhost:44376/" />
		<add key="SMTP_MailUser" value="patricia.goncalves.rocha@formandos.cinel.pt" />
		<add key="SMTP_URL" value="smtp.office365.com" />
		<add key="SMTP_Port" value="587" />
		<add key="SMTP_Pass" value="Ghj32Ij45!!?" />
		<add key="clientid" value="501560242743-321stlu23tikbr3gfeb0i7spa2oso6rm.apps.googleusercontent.com" />
		<add key="clientsecret" value="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" />		
		<add key="url" value="https://accounts.google.com/o/oauth2/token" />
		<add key="redirection_url" value="https://localhost:44352/AppFrontEnd/RegisterAccountFE.aspx" />
	</appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
	<customErrors mode="Off" defaultRedirect="generalpageerror.aspx">
		<error statusCode="404" redirect="error404page.aspx"></error>
	</customErrors>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>